* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* colors */
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --primary-color: #0f172a;
  --secondary-color: #f1f5f9;
  --accent-color: #2dd4bf;
  --cta-btn: #3b82f6;
  --dot-color: #3b82f6;
  
  

  /* border-radius */
  --border-radius: 0.5rem;

  /* font */
  --heading-font: "inter", sans-serif;
  --body-font: "inter", sans-serif;

  /* font sizes */
  --font-lg: 1.125rem;
  --font-md: 1rem;
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;

  /* heading font sizes */
  --heading-1: 1.25rem;
  --heading-2: 0.9rem;

  /* body font size */
  --text-size: 0.9rem;

  /* max width */
  --max-width: 1300px;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: var(--body-font);
  font-size: var(--text-size);
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0rem .9rem;
}
