.section {
  padding: 6rem 0;
}

.faq {
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.sectionTitle {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.sectionSubtitle {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.faqLink {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: #3B82F6;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s ease;
 
}

.faqLink:hover {
  background-color: var(--accent-color);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordionItem {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.accordionButton {
  width: 100%;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.accordionButton:hover {
  background-color: #f0f2f5;
}

.accordionButton.active {
  background-color: #f0f2f5;
}

.accordionIcon {
  flex-shrink: 0;
  color: #000;
}

.accordionContent {
  background-color: #ffffff;
}

.accordionContentActive {
  padding: 0 1.5rem;
}

.answerText {
  padding: 0 0 1.5rem;
  color: #000;
  line-height: 1.6;
  margin: 0;
}
.showAllButtonContainer{
  display: flex;
  justify-content: end;
}
.toggleButton {
  margin: 1rem 0;
  color: #FF9933;
  ;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease;
}

.toggleButton:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .section {
    padding: 3rem 0;
  }
  
  .sectionTitle {
    font-size: 2rem;
  }
  
  .sectionSubtitle {
    font-size: 1rem;
  }
  
  .accordionButton {
    padding: 1rem 1.25rem;
  }
}
